@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');


* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;

}
html, body, #root {
    min-height: 100%;
}

body{
  background: #000 url('./assets/homebg.jpg') no-repeat;
  background-size: cover;
  -webkit-font-smoothing: antialisied !important ;
}

body, input button{
  font-family: 'Roboto', Arial, Helvetica
}

.cont{
  margin: 80px auto 0;
  max-width: 1100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content{
  margin: 30px;
  width: 100% ;
  background: #FFF;
  border-radius: 4px;
  padding: 30px;
  align-items: center;
}

.content button.btn{
  border : 0;
  border-radius: 2px;
  width: 100%;
  height: 42px;
  padding:  0 20px;
  font-size: 16px;
  font-weight: bold;
  background: #0273b4;
  color: #fff;
  cursor: pointer;
}

.content button.btn:hover{
  background: #005586;
}

.nav.navbar-expanded-lg.nav-dark.bg-light li a {
  color: black;
}
div.exec {
  padding: 0px 20px 0px 20px;
}